html{font-family:"Arial";}
h1,h2,p{line-height:1.5em;text-align:justify;}th{width:70px;height:30px;font-size:18px;}
p{font-size:18px;}
#i{position:fixed;top:0px;left:0px;}
#c{position:fixed;top:0px;right:0px;}
.ta{color:blue;}
.tp{color:red;}
.tj{color:green;}
.la{background:blue;color:white;}
.lp{background:red;color:white;}
.lj{background:green;color:white;}
#conteudo{max-width:810px;margin:auto;}